<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <title>cc-runner-java</title>
    </head>
    <body>
        <h1>** cc-runner-java **</h1>
<p style="white-space: pre;">The following endpoints are exposed by this API:
{% for page in pages %}
    <a href="{{page[0]}}" style="text-decoration: none;">{{ page[0] }}</a>{{ page[1] }}{{ page[2] }}
{%- endfor %}</p>
    </body>
</html>